# compilation and distribution
__pycache__
_ext
*.pyc
*.so
configs/rdd/defrcn_gfsod_r101_novel1*
# pytorch/python/numpy formats
*.pth
*.pkl
*.npy

# ipython/jupyter notebooks
*.ipynb
**/.ipynb_checkpoints/

# Editor temporaries
*.swn
*.swo
*.swp
*~

# pycharm editor settings
.idea

# vscode editor settings
.vscode

checkpoints/
datasets/RDD
datasets/LAF
datasets/VOC2007
datasets/VOC2012
tools/*.jpg
